p {
   font-size: 250%;
   font-weight: bolder;
}

body {
   background-color: azure;
}
.background {
   background-image: url("Original-Logo-Symbol.jpg");
}

.top-nav {
    display: flex;
    flex-direction: right;
}

section {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 30px;
}

ul {
   display: flex;
   padding: 10px;
   list-style-type: none;
   flex-direction: row;
}
li {
   padding: 10px;
   font-size: x-large;
}


.nav-container :hover {
   display: flex;
   flex-direction: row;
   color: red;
   font-display: block;
   
}

.row-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.container-homepage-link {
   display: flex;
   flex-direction: row;
}

.item-content {
    padding-left: 10px;
    flex-wrap: wrap;
}

.nav-footer {
    display: flex;
    flex-direction: column;
}

H1 {
   text-align: center;
   font-size: 650%;
   color: aqua;
 }

 H2 {
   font-size: 400%;
   color: blueviolet;
 }

 H3 {
   font-size: 200%;
 }

 .therapist {
   font-size: 400%;
   color: blueviolet;
   font-style: oblique;
 }

 .therapist-info {
    display: flex;
    flex-direction: column;
 }

 .header-about-us {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 40;
    padding: 40;
 }

 .DN {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
    padding: 20px;
 }

 .DTM {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
    padding-bottom: 20px;
 }
 .IASTM {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
    padding: 20px;
 }
 .Cupping {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
    padding: 20px;
 }

 .treatment-p {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
 }
 
 .treatment-offered {
    display: flex;
    flex-direction: inherit;
    font-size: 450%;
    font-style: oblique;
    color: aqua;
 }

 .container-form {
    display: flex;
    flex-direction: column;
    align-items: center;

 }

 .logo {
    display: flex;
    align-items: center;
    max-height: 10cm;
 }

 .contact-form {
   font-size: xx-large;
   font-weight: bolder;
 }
